* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Helvetica, sans-serif;
    background-color: #F4F4F4;
    color: #444444;
}
.main {
    padding: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    max-width: 760px;
    background-color: #FFFFFF;
    line-height: 1.3em;
}
@media screen and (max-width: 900px) {
    .main {
        margin-top: 0;
        margin-bottom: 0;
    }
}
.content {
    min-height: 200px;
    margin-top: auto;
    margin-bottom: auto;
}
.flex {
    display: flex;
    align-items: center;
}
ol {
    padding-left: 1.1em;
}
li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
ol.examples {
    margin-left: auto;
    margin-right: auto;
}
ol:not(.examples)>li {
    margin-left: 2em;
}
ul:not(.examples)>li {
    margin-left: 2em;
}
pre {
    padding: 1em 2em 1em 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #F4F4F4;
    overflow: auto;
}
code {
    font-style: monospace;
    background-color: #F4F4F4;
    margin: 0;
    padding: 2px;
    color: brown;
}
h1, h2, h3, h4 {
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-top: 1.5em;
    line-height: normal;
}
h1{
    font-size: 1.5em;
}
h2 {
    font-size: 1.2em;
}
h3 {
    font-size: 1.0em;
}
body {
    margin: 0px;
    padding: 0px;
}
header{
    padding: 10px 0px 0px 0px;
}
header > h1 {
    font-size: 2.0em;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: bold;
}
header, footer {
    display: flex;
}
header > * , footer > * {
    margin-left: auto;
    margin-right: auto;
}
footer{
    padding: 0px 0px 10px 0px;
    margin-top: 2em;
}
a {
    color: inherit;
}
p {
    margin-top: 1em;
}
h1 > a {
    text-decoration: none;
}
